  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">

        <span class="login100-form-title welcome-title">
          Welcome
        </span>
        <span class="login100-form-title welcome-logo">
          <i class="zmdi zmdi-font"></i>
        </span>
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
          <div class="wrap-input100 validate-input" data-validate="Enter username !">
            <input class="input100" type="text" (focus)="onUsernameFocus()" (blur)="onBlur()"
              [(ngModel)]="verifiedEmail" name="username" #input100>
            <span class="focus-input100" data-placeholder="Username"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password !">
            <span class="btn-show-pass" (click)="showPass()">
              <i class="zmdi zmdi-eye" #eyeDiv></i>
            </span>
            <input class="input100" type="password" (focus)="onPasswordFocus()" (blur)="onBlur()" ngModel
              name="password" #inputPass>
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" type="submit">
                Login
              </button>
            </div>
          </div>
        </form>


        <div class="text-center">
          <span class="txt1">
            Don’t have an account?
          </span>
          <a [routerLink]="['/sign-up']" class="txt2">
            Sign Up
          </a>
        </div>

      </div>
    </div>
  </div>
  <div id="dropDownSelect1"></div>
