@import "../../assets/styles/variables.scss";

table.dataTable thead .sorting_asc:nth-child(3) {
  background-image: url('../../../assets/icons/icn-ascending-softer.svg');
  background-position: 95.02% 50%;

}

table.dataTable thead .sorting_asc:nth-child(4) {
  background-image: url('../../../assets/icons/icn-ascending-softer.svg');
  background-position: 77.41% 50%;

}

table.dataTable thead .sorting_desc:nth-child(3) {
  background-image: url('../../../assets/icons/icn-descending-softer.svg');
  background-position: 95.02% 50%;

}

table.dataTable thead .sorting_desc:nth-child(4) {
  background-image: url('../../../assets/icons/icn-descending-softer.svg');
  background-position: 77.41% 50%;
}

table.dataTable thead .sorting:nth-child(3) {
  background-image: url('../../../assets/icons/icn-softer.svg');
  background-position: 95.02% 50%;
}

table.dataTable thead .sorting:nth-child(4) {
  background-image: url('../../../assets/icons/icn-softer.svg');
  background-position: 77.41% 50%;
}

table.dataTable thead .sorting_asc {
  background-image: none;
}

table.dataTable thead .sorting_desc {
  background-image: none;
}

table.dataTable thead .sorting {
  background-image: none;
}

table.dataTable.no-footer {
  border-bottom: 0px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.user-management-container {
  margin-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.users-table {
  width: 65%
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.filter-container {
  display: flex;
  justify-content: space-left;
}

.example-full-width {
  width: 100%;
  height: 30px;
}

.mat-icon {
  width: 14.4px;
  height: 14.4px;
}

.filter-select {
  width: 130px;
  height: 30px;
  border: 1px solid #C6CACC;
  box-sizing: border-box;
  border-radius: 0.25rem;
  background: url("../../../assets/icons/icn_dropdown_icon.svg") no-repeat 90% 50%;
  padding-left: 0.75rem;
  margin-left: 9px;
  font-family: OpenSans-Regular;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.all-option {
  color: #000000 !important;
  font-weight: 700;
}

.filter-option {
  font-family: SF-Pro-Display;
  color: #5E6366;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.375rem;
  // padding: 8px 16px;  
  border-radius: 0px 0px 5px 5px !important;
}

.searching-button {
  margin-left: 10px;
  width: 91px;
  height: 30px;
  background: #001C91;
  border-radius: 4px;
  font-family: SF-Pro-Display;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.total-users {
  font-family: SF-Pro-Display;
  font-weight: 700;
  color: #3E4345;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-self: flex-end;
}

.username-sorter {
  width: 13.23%;
}

.fullname-sorter {
  width: 21.79%;
}

.gender-sorter {
  width: 7.44%;

}

.age-sorter {
  width: 11.53%;

}

.birthday-sorter {
  width: 17.79%;
}

table.dataTable thead {
  background-color: #F7F9FA;
  text-align: center;
  font-family: SF-Pro-Display;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #919699;
}

table.dataTable thead th {
  border-bottom: 2px solid #E3E5E6;
  border-top: 0px;
  height: 48px;
  padding: 0px;

}

table.dataTable tr {
  text-align: center;
  font-family: SF-Pro-Display;
  font-weight: 500;
  cursor: pointer;
}

table.dataTable td {
  height: 48px;
  padding: 0px;
  border-bottom: 1px solid #E3E5E6;
}


::ng-deep .top {
  width: 250px;
  margin-left: 690px;
  margin-bottom: -40px;
}

// ::ng-deep .dataTables_wrapper .dataTables_filter {
//   padding-bottom: 15px;
//   height: 30px;

// }

// ::ng-deep .dataTables_wrapper .dataTables_filter input {
//   height: 30px;
//   border-radius: 4px;
//   border: 1px solid #C6CACC !important;
//   font-family: SF-Pro-Display;
//   font-weight: 500;
//   font-size: 14px;
// }

// ::ng-deep .dataTables_wrapper .dataTables_filter label {
//   height: 30px;
//   font-family: SF-Pro-Display !important;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 20px;
// }

::ng-deep .bottom {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

::ng-deep .dataTables_paginate {
  height: 28px;
  display: flex;
  justify-content: space-between;
}

::ng-deep .paginate_button {
  height: 28px;
  width: 28px;
  border: 0px !important;
  background: #F7F9FA !important;
  border-radius: 4px !important;
  color: #000000;
  font-family: SF-Pro-Display;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 5.5px 0px 0px 0px !important;
  text-align: center;
  margin-right: 4px;
}

::ng-deep .paginate_button.current {
  border: 0px !important;
  background: #E3E5E6 !important;
  font-weight: 700;
}

::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #000000 !important;
}

::ng-deep .paginate_button.first {
  text-indent: -9999px;
  background: #FFFFFF !important;
  border: 1px solid #C6CACC !important;
  margin-right: 4px;
  background: url('../../../assets/icons/icn-pagging-start-enabled.svg') no-repeat center !important;
}

::ng-deep .paginate_button.first.disabled {
  background: url('../../../assets/icons/icn-pagging-start-disabled.svg') no-repeat center !important;
}

::ng-deep .paginate_button.previous {
  text-indent: -9999px;
  background: #FFFFFF !important;
  border: 1px solid #C6CACC !important;
  margin-right: 6.08px;
  background: url('../../../assets/icons/icn-pagging-previous-enabled.svg') no-repeat center !important;
}

::ng-deep .paginate_button.previous.disabled {
  background: url('../../../assets/icons/icn-pagging-previous-disabled.svg') no-repeat center !important;
}

::ng-deep .paginate_button.next {
  text-indent: -9999px;
  background: #FFFFFF !important;
  border: 1px solid #C6CACC !important;
  margin-left: 6.08px;
  background: url('../../../assets/icons/icn-pagging-next-enabled.svg') no-repeat center !important;
}

::ng-deep .paginate_button.next.disabled {
  background: url('../../../assets/icons/icn-pagging-next-disabled.svg') no-repeat center !important;
}

::ng-deep .paginate_button.last {
  text-indent: -9999px;
  background: #FFFFFF !important;
  border: 1px solid #C6CACC !important;
  margin-left: 4px;
  background: url('../../../assets/icons/icn-pagging-end-enabled.svg') no-repeat center !important;
}

::ng-deep .paginate_button.last.disabled {
  background: url('../../../assets/icons/icn-pagging-end-disabled.svg') no-repeat center !important;
}

.user-information-container {
  width: 30%;
}

.user-information-title {
  width: 40%;
  font-family: SF-Pro-Display;
  font-weight: 900;
  border-bottom: 1.5px solid #C6CACC;
  color: #C6CACC
}

.user-name-container {
  margin-top: 50px;
}

.user-name {
  width: 75%;
}

.user-fullname-container {
  margin-top: 20px;
}

.user-fullname {
  width: 75%;
}

.gender-age-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.user-gender-container {
  width: 55%;
}

.user-gender {
  width: 55%;
}

.user-age-container {
  width: 35%;
}

.user-age {
  width: 70%;
}

.user-birthday-container {
  margin-top: 20px;

}

.user-birthday {
  width: 75%;
}

.information-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.information-title {
  display: flex;
  align-items: center;
  font-family: SF-Pro-Display;
  font-size: 18px;
  font-weight: 700;
}

.information-content {
  border-bottom: 3px solid turquoise;
  font-family: SF-Pro-Display;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-style: italic;
}

.btn-delete {
  margin-top: 40px;
  height: 50px;
  background-color: crimson;
  color: white;
  font-family: SF-Pro-Display;
  font-weight: 700;
  border: 0px solid;
  border-radius: 3px0;
  cursor: pointer;
}
